.display_inline_block_mobile {
  display: inline-block;
}

.flex_mobile {
  width: 100%;
  display: flex;
}

.position_relative_universal {
  position: relative;
}

.position_absolute_universal {
  position: absolute;
}

.flex_align_items_center_mobile {
  align-items: center;
}

.flex_justify_content_center_mobile {
  justify-content: center;
}

.flex_justify_content_space_between_mobile {
  justify-content: space-between;
}

.flex_universal {
  width: 100%;
  display: flex;
}

.flex_direction_column_universal {
  flex-direction: column;
}

.flex_align_items_center_universal {
  align-items: center;
}

.flex_align_items_left_universal {
  align-items: flex-start;
}

.flex_justify_content_center_universal {
  justify-content: center;
}

.cursor_pointer {
  cursor: pointer;
}

.btn_icon {
  width: 6rem;
  height: 6rem;
}

.visibility_visible {
  visibility: visible !important;
}

.clockify_popup {
  padding: 1rem 0;
  min-width: 260px;
  max-width: 300px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  right: 1rem;
  bottom: -100%;
  transform: translateY(25%);
  visibility: hidden;
  transition: visibility 0.1s;
}

.clockify_popup_head {
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 2rem 1rem 2rem;
  margin: 0;
  letter-spacing: 1px;
  font-weight: normal;
}

.clockify_popup p {
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 1rem 2rem 1rem 2rem;
  letter-spacing: 1px;
  font-weight: normal;
}

.clockify_popup p:hover {
  background-color: #e4eaee;
  color: #333;
}

.text_uppercase {
  text-transform: uppercase;
}

.bg_main_color {
  background-color: var(--main-color);
}

.margin_left_1x_mobile {
  margin-left: 1rem;
}

.margin_left_2x_mobile {
  margin-left: 2rem;
}

.text_overflow_ellipsis {
  text-overflow: ellipsis;
}

.margin_0 {
  margin: 0;
}

.padding_0 {
  padding: 0;
}

.list_style_none {
  list-style: none;
}

.button_item_has_children {
  position: relative;
}

.button_item_has_children:after {
  content: "";
  width: 1.25rem;
  height: 0.75rem;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(-25%, -50%, 0);
  transition: transform 0.5s;

  background-image: url(./../img/chevron-down.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button_item_has_children-open:after{
  transform: translate3d(-25%, -50%, 0) rotate(180deg);
}
